<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.ContentVersion("~/Content/themes/ui-custom/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.ContentVersion("~/Content/Common.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.ContentVersion("~/Content/Main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.ContentVersion("~/Content/Client.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.ContentVersion("~/Content/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    @if (ViewBag.Styles != null)
    {
        foreach (string s in ViewBag.Styles)
        {
            if (s.Contains(".print."))
            {
                <link href="@Url.ContentVersion(s)" rel="stylesheet" type="text/css" media="print" />
            }
            else
            {
                <link href="@Url.ContentVersion(s)" rel="stylesheet" type="text/css" />
            }
        }
    }
</head>
<body>
    @*<div id="divLocker" data-bind="css: { hidden: !$root.hideThePage || !$root.hideThePage() }"></div>*@
    <div id="body">
        <div id="content">
            <div class="background">
                @RenderBody()
                <div class="text-center clear">
                    <a href="http://www.advance-dev.net" target="_blank">Developed by Advance-Dev v@(AdCrm.MvcApplication.Version)</a>
                </div>
            </div>
        </div>
        <div id="header">
            @{ Html.RenderPartial("_Login"); }
            <div class="toLeft" id="logo">
                <a href="@Url.Action("Index", "Home", new { Area = "Client" })">
                    @if (HttpContext.Current.Request.RequestContext.HttpContext.User.Identity.IsAuthenticated)
                    {
                        <img src="@Url.Content("~/content/images/logo.png")" alt="" />
                    }
                </a>
            </div>
            <div class="content">
                @{ Html.RenderPartial("_HeaderButtons"); }
                @*<div id="title">
                    <span>@ViewBag.Title</span>
                </div>*@
            </div>
        </div>
    </div>
    <script type="text/html" id="scrData">
        @MvcHtmlString.Create(ViewBag.Data)
    </script>
    @{ Html.RenderPartial("_Scripts"); }
    @if (ViewBag.Scripts != null)
    {
        foreach (string s in ViewBag.Scripts)
        {
            <script src="@Url.ContentVersion(s)" type="text/javascript" defer="defer"></script>
        }
    }
</body>
</html>